<!DOCTYPE html>
<html>
<title>Prediction App</title>
<body>

<form action = "/predict" method="POST">
	
<!-- <input type="radio" name="gender" value="male" checked> Male<br>
<input type="radio" name="gender" value="female"> Female<br> -->

<p> Enter Gender(1/0):<input name="gender" type ="text" /> </p>



<p> Occupation :   
<select name="Occupation">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10" selected>10</option>
</select>

<p> Marital_Status :   
<select name="Marital_Status">
<option value="0">0</option>
<option value="1" selected>1</option>
</select>
  
<p> Enter Product Category1:<input name="product_category_1" type ="text" /> </p>
<p> Enter Product Category2:<input name="product_category_2" type ="text" /> </p>
<p> Enter Product Category3:<input name="product_category_3" type ="text" /> </p>

<p> Age_group :   
<select name="Age_group">
<option value="1">0-17</option>
<option value="2">18-25</option>
<option value="3">26-35</option>
<option value="4">36-45</option>
<option value="5">46-50</option>
<option value="6">51-55</option>
<option value="7">55+</option>
</select>

<p>Enter from which city you belong(1/0): </p>
<p> Enter City_Category_A:<input name="City_Category_A" type ="text" /> </p>
<p> Enter City_Category_B:<input name="City_Category_B" type ="text" /> </p>
<p> Enter City_Category_C:<input name="City_Category_C" type ="text" /> </p>

<p>Enter how many years you live in that city(1/0): </p>
<p> Enter Stay_In_Current_City_Years_0:<input name="Stay_In_Current_City_Years_0" type ="text" /> </p>
<p> Enter Stay_In_Current_City_Years_1:<input name="Stay_In_Current_City_Years_1" type ="text" /> </p>
<p> Enter Stay_In_Current_City_Years_2:<input name="Stay_In_Current_City_Years_2" type ="text" /> </p>
<p> Enter Stay_In_Current_City_Years_3:<input name="Stay_In_Current_City_Years_3" type ="text" /> </p>
<p> Enter Stay_In_Current_City_Years_4_above:<input name="Stay_In_Current_City_Years_4_above" type ="text" /> </p>


<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
